In [ ]:
c = "elonmusk,stevejobs,billgates"
d = c.split(",")
print(d)
print(d[1])

['elonmusk', 'stevejobs', 'billgates']
stevejobs

In [ ]:
a = " master class"
print(f"welcome to python {a}!")

welcome to python  master class!

In [ ]:
a = [1,2,3,4,5]
b = ["champ",21,99,5]
print(a+b)
print(len(a))
print(b[0])
print(a[1:])
print(a[1:2])
print(a+b)

[1, 2, 3, 4, 5, 'champ', 21, 99, 5]
5
champ
[2, 3, 4, 5]
[2]
[1, 2, 3, 4, 5, 'champ', 21, 99, 5]

In [ ]:
a = [1,2,3,4,5]

a.append(6)
a.reverse()
print(min(a))
print(max(a))
# print(sum(a)
print(a)

1
6
[6, 5, 4, 3, 2, 1]

In [ ]:
a = [1,2,3,4,5]
from random import shuffle
shuffle(a)
print(a)

[2, 3, 4, 5, 1]

In [ ]:
a = [ 1,2,3]
b = [4,5,6]
c = [ a,b]
print(c)
print(c[0])
print(c[0][0])

[[1, 2, 3], [4, 5, 6]]
[1, 2, 3]
1

In [ ]:
a ={"name":"elon","age":50,"company":"tesla"}
a

{'name': 'elon', 'age': 50, 'company': 'tesla'}

In [ ]:
a ={"name":"elon","age":50,"company":"tesla"}
print(a["name"])
a["age"]=51
a

elon

{'name': 'elon', 'age': 51, 'company': 'tesla'}

In [ ]:
a = set()
a.add(1)
a.add(2)
a.add(3)
a.add(4)
a.add(5)

In [ ]:
a = True
if a:
    print("positive")
else:
    print("negative")

positive

In [ ]:
a = 5
b = 6
c = 6
if a>b :
    print("a is less than b")
elif  c==b:
    print("c is equal to b")
    print("a is not less than b")
    if c<a:
        print("c is less than a")
else:
    print("a is not less than b")

c is equal to b
a is not less than b

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
a = [x for x in range(1,11)]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a = [x for x in "champ"]
print(a)

['c', 'h', 'a', 'm', 'p']

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
for i in a :
    if i%2==0:
        print(i,'even')
    else:
        print(i,'odd')

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even

In [ ]:
a ={"Name":"Elon","Age":50,"Company":["Tesla","SpaceX"]}
for k,v in a.items():## k = key, v= values
    print(k)
    print(v)

Name
Elon
Age
50
Company
['Tesla', 'SpaceX']

In [ ]:
a = 0
while a<11:
    print(a)
    a+=1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
a = 0
while a<11:
    print(a)
    a+=1
    if a==5:
      print("a is 5")
      break
    else:
      print("contoinuee")

0
contoinuee
1
contoinuee
2
contoinuee
3
contoinuee
4
a is 5

In [ ]:
for a in range (6):
    print(a)

0
1
2
3
4
5

In [ ]:
for a in range (1,10,3):
    print(a)

1
4
7

In [ ]:
for a in range(10,0,-2):
    print(a)

10
8
6
4
2

In [ ]:
a = [i**2 for i in range(0,5)]
a

[0, 1, 4, 9, 16]

In [ ]:
a = [i for i in range (10) if i%2==0]
a

[0, 2, 4, 6, 8]

In [ ]:
## enumerate track
a=0
for i, a in enumerate("champ"):
    print(i,a)

0 c
1 h
2 a
3 m
4 p

In [ ]:
a = ["Name","Age","Country"]
b = ["Champ",27,"India"]
list(zip(a,b))

[('Name', 'Champ'), ('Age', 27), ('Country', 'India')]

In [ ]:
def welcome():
  print("welcome to python")
welcome()

welcome to python

In [ ]:
def add(a,b):
  add = a+b
  print("sum of {0} and {1} is {2}".format(a,b,add))

In [ ]:
def add(a,b):
  add = a+b
  return add

In [ ]:
add(45,4)

49

In [ ]:
def check(numbers):
  primeNumber = []
  for number in numbers:
    if number>1:
      for i in range(2, int(number/2)+1):
        if (number % i)== 0:
          print(number,"number is not a prime number")
          break
        else:
          print(number,"number is a prime number")
          primeNumber.append(number)
      else:
        pass
  return primeNumber

In [ ]:
check([2,3,4,5,6,7,8,9])

4 number is not a prime number
5 number is not a prime number
6 number is not a prime number
7 number is not a prime number
8 number is not a prime number
9 number is not a prime number

[]

In [ ]:
def cubeFn(num):
  return num**3

In [ ]:
a = [1,2,3,4,5]
list(map(cubeFn,a))

[1, 8, 27, 64, 125]

In [ ]:
def evenFn(num):
  return num%2==0

In [ ]:
a = [0,1,2,3,4,5,6,7,8,9,10]
print(list(map(evenFn,a)))
print(list(filter(evenFn,a)))

[True, False, True, False, True, False, True, False, True, False, True]
[0, 2, 4, 6, 8, 10]

In [ ]:
#normal fn
def cubeFn(num):
  return num**4
cubeFn(5)

625

In [ ]:
# lambda
cubeFn= lambda num:num**3
cubeFn(6)

216

In [ ]:
# normal fn with arguments
def addR(a,b,c):
  add = a+b+c
  return add
addR(10,20,30)

60

In [ ]:
#purpose of args
def addR(*argg):
  return sum(argg)
addR(10,20,30,40,50,52,75,8,5,36,15)

341

In [ ]:
def func(**kwargs):
  if'name'in kwargs:
    print("my name is {0}".format(kwargs['name']))
  if 'age' in kwargs:
    print("my age is {0}".format(kwargs['age']))
  if 'marks' in kwargs:
    print("my marks is {0}".format(kwargs['marks']))
  else:
    print("no key found")
func(name='champ',age = 20,marks=100)

my name is champ
my age is 20
my marks is 100

In [ ]:
# python decoraters
***@decName
def func():
  print("gfg")
EQUAL TO
def func():
  print("gfg")

func * decName(func)***

SyntaxError: invalid syntax (<ipython-input-6-7c497ca9685e>, line 2)